[
  {
    "name": "Manager Name 1",
    "stockSymbol": "AAPL",
    "analysis": "iPhone success"

  },
  {
    "name": "Manager Name 2",
    "stockSymbol": "TSLA",
    "analysis": "Robotaxis"

  },
  {
    "name": "Manager Name 3",
    "stockSymbol": "MSFT",
    "analysis": "OpenAI"

  }
]

